@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FAKE BUY</h1>
    <img src="~/My project-1.png" alt=" =Fake Buy logo" style="width:705px;height:501px;" class="center"/>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
